services:
  python-algos:
    build:
      context: ./algos-python
    container_name: python-algos
    ports:
      - "5678:5678"
    volumes:
      - ./algos-python:/app
      - ./algos-python:/algos-python  
    env_file:
      - .env  
    networks:
      - tradingnet

  csharp-backend:
    build:
      context: ./backend-csharp/RoaringBot    
    container_name: csharp-backend
    ports:
      - "5075:5075"
      - "9229:9229"  # For debugger attach
    environment:
      - DOTNET_USE_POLLING_FILE_WATCHER=1
      - ASPNETCORE_ENVIRONMENT=Development
    volumes:
      - ./backend-csharp/RoaringBot:/app   
      - ./algos-python:/algos-python     
    networks:
      - tradingnet
    env_file:
      - .env

  frontend:
    build:
      context: ./frontend
    container_name: frontend-app
    ports:
      - "3000:80" # Maps port 3000 on your machine to port 80 in the container
    networks:
      - tradingnet

  postgres:
      image: postgres:15
      container_name: trading-postgres
      restart: always
      environment:
        POSTGRES_USER: roaringbot
        POSTGRES_PASSWORD: supersecret
        POSTGRES_DB: trading
      ports:
        - "5432:5432"
      volumes:
        - pgdata:/var/lib/postgresql/data
      networks:
        - tradingnet

volumes:
  pgdata:

networks:
  tradingnet:
