version: '3.9'
services:
  python-algos:
    build:
      context: ./algos-python
    container_name: python-algos
    ports:
      - "5678:5678"
    volumes:
      - ./algos-python:/app
    networks:
      - tradingnet

  csharp-backend:
    build:
      context: ./backend-csharp/RoaringBot    
    container_name: csharp-backend
    ports:
      - "5075:5075"
      - "9229:9229"  # For debugger attach
    environment:
      - DOTNET_USE_POLLING_FILE_WATCHER=1
      - ASPNETCORE_ENVIRONMENT=Development
    volumes:
      - ./backend-csharp/RoaringBot:/app      
    networks:
      - tradingnet
    env_file:
      - .env

networks:
  tradingnet:
